.vscode/
.pytest_cache/
build/
/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.fdb_*
/doc/*.pdf
/doc/*.gz
/doc/*.log
/doc/*.fls
__pycache__

*_svs.*
*_dummy.*

pyams.egg-info/
*.orig

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pyd

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
